#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --red: #e23636;
  --gray: #504a4a;
  --blue: #518cca;
}

.App{
  display:flex;
  flex-direction: column;
  align-items: center;
  
}
.results{
  display:flex;
  align-items: center;
  width: 80vw;
}

.searchBars{
  display:flex;
  align-items: center;
  flex-direction: column;
}
.charList{
  margin-right: 5px;
}

.seriesList{

  margin-left: 5px;
}

.charList, .seriesList{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:50%;
  overflow-y: scroll;
  height:500px;
  border:1px solid white;
  margin-top: 20px;
}

.seriesList{
  background-color: var(--red);
  color: black;
}

.charList{
  background-color: var(--blue);
}

.header{
  display:flex;
}

.headerPic{
  width: 350px;
  margin-right: 10px;
}

ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
}

p{
  width: 100%;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}